<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"
	   default-lazy-init="false">

	<!-- 加载配置文件 -->
	<context:property-placeholder
			ignore-unresolvable="true" location="classpath:/application.properties" />

	<!-- spring 数据库配置文件 -->
	<import resource="classpath:/applicationContext-dataSource.xml" />
	<!-- 一些自身应用的基本配置 -->
	<import resource="classpath:/applicationContext-base.xml" />
	<!-- spring mybatis配置文件 -->
	<import resource="classpath:/applicationContext-mybatis.xml" />
	<!-- spring mybatis配置文件 -->
	<import resource="classpath:/applicationContext-shiro.xml" />
	<!-- spring 事务配置文件 -->
	<import resource="classpath:/applicationContext-tx.xml" />
	<!-- spring jdbc配置文件 -->
	<import resource="classpath:/applicationContext-jdbc.xml" />

	<bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>classpath:/application.properties</value>
			</list>
		</property>
	</bean>
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
		<property name="properties" ref="configProperties"></property>
	</bean>

</beans>