BODY{
FONT-SIZE: 12px;
COLOR: #000000;
FONT-FAMILY:  ??;
background-color: #FFFFFF; 
scrollbar-face-color: #DEE3E7;
scrollbar-highlight-color: #FFFFFF;
scrollbar-shadow-color: #DEE3E7;
scrollbar-3dlight-color: #D1D7DC;
scrollbar-arrow-color:  #006699;
scrollbar-track-color: #EFEFEF;
scrollbar-darkshadow-color: #98AAB1;
}
tr {  font-size: 12px; line-height: 123%;}
.wd {
	filter: DropShadow(Color=FFFFFF, OffX=1, OffY=1, Positive=100);
	color: #FFFFFF;
	font-size: 14px;
	font-family: "??";
}
.c2 {  font-family: "ו"; font-size: 12px; color: #FFFFFF}
tr2 { font-size: 12px; line-height: 120% ; color: #FFFFFF}

left {  filter: Alpha(Opacity=60, FinishOpacity=000000, Style=5, StartX=1, StartY=1, FinishX=1, FinishY=1)?, StartX=1, StartY=1, FinishX=1, FinishY=1)?, FinishOpacity=eeeeee, Style=?, StartX=1, StartY=1, FinishX=1, FinishY=1)?, FinishOpacity=?, Style=?, StartX=?, StartY=?, FinishX=1, FinishY=1)}
A:link {
	TEXT-DECORATION: none;COLOR: #000000;
}
A:visited {
	FONT-WEIGHT: normal; COLOR: #993300; FONT-STYLE: normal; TEXT-DECORATION: none
}
A:active {
	FONT-WEIGHT: normal;  COLOR: #000000; FONT-STYLE: normal; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: normal;  COLOR:#000000; FONT-STYLE: normal; TEXT-DECORATION: none
}
#TableTitleLink A:link, #TableTitleLink A:visited, #TableTitleLink A:active {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
}
#TableTitleLink A:hover {
	COLOR: #FFFFFF;
	TEXT-DECORATION: underline;}

input,select,Textarea { font-size: 9pt; background-color: #F3F3F3; border: #333333; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; font-family: "verdana,courier"}
.normalTextSmall 
{ 
    font-size : 11px;
    color : #000000; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
th
{
background-image: url(skin/default/bg1.gif);
background-color: #4455aa;
color: white;
font-size: 12px;
font-weight:bold;
}
td.TableTitle2
{
background-color: #A0CEFC;
}
td.TableBody1
{
background-color: #FFFFFF;
}
td.TableBody2
{
background-color: #E4E8EF;
}
td.TopDarkNav
{
background-image: url(skin/default/topbg.gif);
}
td.TopLighNav
{
background-image: url(skin/default/bottombg.gif);
}
td.TopLighNav1
{
background-image: url(skin/default/tabs_m_tile.gif);
}
td.TopLighNav2
{
background-color:#FFFFFF
}
.tableBorder1
{
width:97%;
border: 1px; 
background-color: #6595D6;
}
.tableBorder2
{
width:97%;
border: 1px #DEDEDE solid; 
background-color: #EFEFEF;
}
