
	
.emenu {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	background-image: url(images/tb1.jpg);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 40px;
	cursor: hand;
}

.noemenu {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	background-image: url(images/tb1.jpg);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 40px;
	cursor: hand;
}

.submenu {
	font-size: 10px;
	padding-left: 5px;
}
.file {
	background-image: url(ie.gif);
	background-repeat: no-repeat;
	font-size: 14px;
	padding-left: 18px;
	cursor: hand;
	
a:hover {
	
	
	
}

}
.file1 {	background-image: url(ie.gif);
	background-repeat: no-repeat;
	font-size: 12px;
	padding-left: 18px;
	cursor: hand;
	color: #FFFFFF
}
.noemenu1 {	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 13px;
	background-image: url(images/tb1.jpg);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 25px;
	cursor: hand;
}
.ctrlbar {
	border: 1px inset;
}

.ctbutton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	background-color: #eeeeee;
	border-width: 1px;
	width: 9px;
	height: 100px;
	margin-bottom: 100px;
}
