@charset "utf-8";
/* CSS Document */
body{font-size:12px;color:#000;font-family:微软雅黑,Arial, "宋体", SimSun ,serif, sans-serif;background:url(../images/login/bg_big.jpg) repeat-x;text-align:center;}
*{margin:0; padding:0;}

#denglu_wrapper{width:1001px;margin-left: auto;margin-right: auto;}
#header{width:100%;height:103px;background:url(../images/login/wangge_s.jpg) no-repeat right;}

#header_inner ul{list-style-type:none;}
#header_inner li{float:left;}
li.logo{margin-top:40px;}
li.title{margin:60px 0 0 5px;}


#content_inner{width:1001px;height:390px;background:url(../images/login/bg_1.jpg) no-repeat center;}


#denglu_inner{width:930px;height:326px;background:url(../images/login/denglu.jpg) no-repeat right;padding-top:90px;}
#denglu_form{width:295;height:300px;margin-left:630px;margin-top:25px;}
#password{margin-left:12px;}


.whitef12{line-height:40px;border: 0;}

#btn{width:85;background:url(../images/login/denglu_btn_t.jpg) repeat-x center;margin-top:12px;border:1px solid #FF9201;}
#btn:hover{width:85;background:url(../images/login/denglu_btn1.jpg) no-repeat center;border: 0 none;}

.cuowu{margin-top:15px;color:red;}

#footer{width:1001px;height:56px;background:url(../images/login/wangge_x.jpg) no-repeat center;text-align:center;}
#footer p{padding-top:20px;}