<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">



<mapper namespace="com.yada.ssp.dao.CurSignLsDao">

	<resultMap id="CurSignLs" type="com.yada.ssp.model.CurSignLs">
        <result property="lsId" column="LS_ID"/>
        <result property="cardNo" column="CARD_NO"/>
        <result property="tranAmt" column="TRAN_AMT"/>
        <result property="terminalId" column="TERMINAL_ID"/>
        <result property="merchantId" column="MERCHANT_ID"/>
        <result property="traceNo" column="TRACE_NO"/>
        <result property="tranRrn" column="TRAN_RRN"/>
        <result property="batchNo" column="BATCH_NO"/>
        <result property="localSysDate" column="LOCAL_SYS_DATE"/>
        <result property="localSysTime" column="LOCAL_SYS_TIME"/>
        <result property="settleDate" column="SETTLE_DATE"/>
        <result property="ticketFlName" column="TICKET_FL_NAME"/>
        <result property="signFlName" column="SIGN_FL_NAME"/>
	</resultMap>
	
	
	<sql id="CurSignLs_columns">
		T.LS_ID,
		T.CARD_NO,
		T.TRAN_AMT,
		T.TERMINAL_ID,
		T.MERCHANT_ID,
		T.TRACE_NO,
		T.TRAN_RRN,
		T.BATCH_NO,
		T.LOCAL_SYS_DATE,
		T.LOCAL_SYS_TIME,
		T.SETTLE_DATE,
		T.TICKET_FL_NAME,
		T.SIGN_FL_NAME
	</sql>

	
	<insert id="CurSignLs_insert" >
	   <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="key-id">
			SELECT SEQname.nextval AS ID FROM DUAL 
        </selectKey>
        INSERT INTO CUR_SIGN_LS (
        	LS_ID ,
        	CARD_NO ,
        	TRAN_AMT ,
        	TERMINAL_ID ,
        	MERCHANT_ID ,
        	TRACE_NO ,
        	TRAN_RRN ,
        	BATCH_NO ,
        	LOCAL_SYS_DATE ,
        	LOCAL_SYS_TIME ,
        	SETTLE_DATE ,
        	TICKET_FL_NAME ,
        	SIGN_FL_NAME 
        ) VALUES (
        	#{lsId} ,
        	#{cardNo} ,
        	#{tranAmt} ,
        	#{terminalId} ,
        	#{merchantId} ,
        	#{traceNo} ,
        	#{tranRrn} ,
        	#{batchNo} ,
        	#{localSysDate} ,
        	#{localSysTime} ,
        	#{settleDate} ,
        	#{ticketFlName} ,
        	#{signFlName} 
        )
		
	</insert>
    
	<update id="CurSignLs_update" >
        UPDATE CUR_SIGN_LS SET
	        CARD_NO = #{cardNo} ,
	        TRAN_AMT = #{tranAmt} ,
	        TERMINAL_ID = #{terminalId} ,
	        MERCHANT_ID = #{merchantId} ,
	        TRACE_NO = #{traceNo} ,
	        TRAN_RRN = #{tranRrn} ,
	        BATCH_NO = #{batchNo} ,
	        LOCAL_SYS_DATE = #{localSysDate} ,
	        LOCAL_SYS_TIME = #{localSysTime} ,
	        SETTLE_DATE = #{settleDate} ,
	        TICKET_FL_NAME = #{ticketFlName} ,
	        SIGN_FL_NAME = #{signFlName} 
        WHERE 
	        LS_ID = #{lsId} 
	</update>

    <delete id="CurSignLs_delete">
        DELETE FROM CUR_SIGN_LS WHERE
        LS_ID = #{id} 
    </delete>
    
    <select id="CurSignLs_getById" resultMap="CurSignLs">
		SELECT 
		<include refid="CurSignLs_columns" />
		    FROM CUR_SIGN_LS T
	        WHERE 
		        T.LS_ID = #{id} 
	</select>
	
	<sql id="CurSignLs_findPage_where">
		
		<where>	  
			<if test="lsId != null and lsId !=''">    				
				AND T.LS_ID = #{lsId}
			</if>
	       <if test="cardNo != null and cardNo !=''">
				AND T.CARD_NO = #{cardNo}
			</if>
	       <if test="tranAmt != null and tranAmt !=''">
				AND T.TRAN_AMT = #{tranAmt}
			</if>
	       <if test="terminalId != null and terminalId !=''">
				AND T.TERMINAL_ID = #{terminalId}
			</if>
	       <if test="merchantId != null and merchantId !=''">
				AND T.MERCHANT_ID = #{merchantId}
			</if>
	       <if test="traceNo != null and traceNo !=''">
				AND T.TRACE_NO = #{traceNo}
			</if>
	       <if test="tranRrn != null and tranRrn !=''">
				AND T.TRAN_RRN = #{tranRrn}
			</if>
	       <if test="batchNo != null and batchNo !=''">
				AND T.BATCH_NO = #{batchNo}
			</if>
	       <if test="localSysDate != null and localSysDate !=''">
				AND T.LOCAL_SYS_DATE = #{localSysDate}
			</if>
	       <if test="localSysTime != null and localSysTime !=''">
				AND T.LOCAL_SYS_TIME = #{localSysTime}
			</if>
	       <if test="settleDate != null and settleDate !=''">
				AND T.SETTLE_DATE = #{settleDate}
			</if>
	       <if test="ticketFlName != null and ticketFlName !=''">
				AND T.TICKET_FL_NAME = #{ticketFlName}
			</if>
	       <if test="signFlName != null and signFlName !=''">
				AND T.SIGN_FL_NAME = #{signFlName}
			</if>
			<if test="zbank != null and zbank !=''">
				AND M.ZBANK = #{zbank}
			</if>
			<if test="startDate != null and startDate !=''">
				AND T.local_sys_date||T.local_sys_time &gt;= #{startDate}
			</if>
			<if test="endDate != null and endDate !=''">
				AND T.local_sys_date||T.local_sys_time &lt;= #{endDate}
			</if>
		</where>
	</sql>
		 
    <select id="CurSignLs_findCountByWhere" resultType="int">
        SELECT count(*) FROM CUR_SIGN_LS T JOIN MERCHANT_BASE M ON T.MERCHANT_ID=M.MERCHANT_ID
		<include refid="CurSignLs_findPage_where"/>    
    </select>
    
   
    <select id="CurSignLs_findListByWhere" resultMap="CurSignLs">
    	SELECT <include refid="CurSignLs_columns" />
	    FROM CUR_SIGN_LS T LEFT JOIN MERCHANT_BASE M ON T.MERCHANT_ID=M.MERCHANT_ID
		<include refid="CurSignLs_findPage_where"/>
			ORDER BY T.LOCAL_SYS_DATE DESC , T.LOCAL_SYS_TIME DESC , T.MERCHANT_ID DESC, T.TERMINAL_ID DESC, T.CARD_NO DESC
    </select>
	
</mapper>

